<h1>FilMarket</h1>
<p><a href="/">MARKETPLACE</a></p>
<p><a href="">GALLERY</a></p>
<p>Balance: $<%= %><a href="">Top Up!</a></p>



<% gallery_images.each do |gallery_image| %>
<img src="<%=gallery_image['image_url']%>" alt="">
<h3><%=gallery_image['name']%></h3>
<p><%=gallery_image['caption']%></p>
<p>By: <%=gallery_image['artist']%></p>
<p><a href="">BUY NOW</a></p>
<p>$<%=gallery_image['price']%></p>

<% end%>

<h3>Purchase more from the <a href="/marketplace">marketplace</a></h3>

<h3><a href="/gallery/new">Add</a> your own art to your gallery!</h3>